*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(https://fonts.google.com/specimen/Bai+Jamjuree);
body{
    font-family:Bai Jamjuree;
    font-weight: 400, 600;
}
.img{
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
}
.img-logo{
    padding-left: 45vw;
    margin: auto;
    height: 8vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
.inner-box{
    margin: auto;
    width: 37vw;
    margin-top: 3vw;
}
.text{
    text-align: center;
    font-size: 2.6vw;
    color:  hsl(210, 10%, 33%);
}
.s-text{
    font-size: 1.1vw;
    color:  hsl(201, 11%, 66%);
    text-align: center;
}
.btn-al{
    margin-left: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.btn{
font-size: 1vw;
margin: auto;
padding: 1vw;
padding-left: 3vw;
padding-right: 3vw;
text-align: center;
border-radius: 2vw;
color: white;
}
.btn1{
    background-color: hsl(171, 66%, 44%);
}
.btn2{
    background-color: hsl(233, 100%, 69%)
    ;
}
.box1{
    display: flex;
    margin-top: 3vw;
}
.img1{
    height: 35vw;
    width: 60vw;
margin-left: -10vw;
}
.text-box{
    width: 21vw;
    margin-top: 2vw;
    margin-left: 14vw;
}
.inner-text{
    margin-top: 2vw;
}
.m-text{
    text-align: left;
    font-size: 1.7vw;
    color:  hsl(210, 10%, 33%);
}
.s1-text{
    font-size: 1.1vw;
    color:  hsl(201, 11%, 66%);
}
.img2{
    margin-top: 2vw;
    width: 70vw;
    height: 40vw;
    margin-left: 13vw;
}
.box2{
    width: 30vw;
    padding-left: 5vw;
    text-align: center;
    border: 1vw solid white;
}
.m1-text{
    font-size: 1.5vw;
    text-align: center;
    color:hsl(210, 10%, 33%);
}
.img3{
    height: 5vw;
}
.img4{
    height: 3vw;
    padding-left: 7vw;
}
.footer{
    background-color: hsl(200, 12%, 95%);;
    padding: 2vw;
    padding-left: 12vw;
    margin-top: 6vw;
}
.img5{
    height: 5vw;
}
.f-size{
    width: 50vw;
    text-align: left;
    padding-left: 6vw;
    font-size: 1vw;
}
.f1{
    padding-right: 7vw;
}
.f2{
    padding-right: 8vw;
}
.social-icon{
   padding-left: 15vw;
}
.icon{
    padding-left: 1vw;
}
@media (max-width:420px){
    *{  
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    @import url(https://fonts.google.com/specimen/Bai+Jamjuree);
    body{
        font-family:Bai Jamjuree;
        font-weight: 400, 600;
    }
    .img{
        background-image: url(images/bg-header-mobile.png);
       
    }
    .img-logo{
        padding-left: 35vw;
        height: 27vw;
        margin-top: 20vw;
        margin-bottom: 15vw;
    }
    .inner-box{
        margin: auto;
        width: 68vw;
        margin-top: 6vw;

    }
    .text{
        width: 60vw;
        text-align: center;
        font-size: 6.5vw;
        color:  hsl(210, 10%, 33%);
        margin: auto;
    }
    .s-text{
        font-size: 3.2vw;
        color:  hsl(201, 11%, 66%);
        text-align: center;
    }
    .btn-al{
        margin-top: 6vw;
        margin-bottom: 6vw;
    }
    .btn{
    font-size: 3.5vw;
    margin: auto;
    padding: 3vw;
    padding-left: 18vw;
    padding-right: 18vw;
    text-align: center;
    border-radius: 10vw;
    color: white;
    }
    .btn1{
        background-color: hsl(171, 66%, 44%);
    }
    .btn2{
        background-color: hsl(233, 100%, 69%) ;
    }
    .m{
       margin-bottom: 5vw;
    }
    .img1{
        height: 30vw;
        width: 55vw;
      margin: auto;
    }
    .m-box{
        text-align: center;
        width: 60vw;
        margin: auto;
        margin-top: 6vw;
    }
    .m-text{
        font-size: 5vw;
        text-align: center;
        color:  hsl(210, 10%, 33%);
    }
    .s1-text{
        font-size: 3vw;
        color:  hsl(201, 11%, 66%);
    }
    .img2{
        margin-left: 15vw;
        margin-top: 6vw;
        width: 60vw;
        height: 40vw;
    }
    .box2{
        width: 60vw;
        text-align: center;
        border: 1vw solid white;
      margin: auto;
    }
    .m1-text{
        font-size: 5vw;
        text-align: center;
        color:hsl(210, 10%, 33%);
    }
    .img3{
        height: 10vw;
    }
    .img4{
        height: 15vw;
        width: 40vw;
        padding-bottom: 6vw;
        margin-left: 25vw;
        margin-top: 2vw;
    }
    .footer{
        background-color: hsl(200, 12%, 95%);;
        padding: 4vw;
        margin-top: 5vw;
        text-align: center;
    }
    .dis{
        display: flex;
        flex-direction: column;
    }
    .img5{
        height: 25vw;
        width: 25vw;
        margin: auto;
        padding: 2vw;     
    }
    .f-size{
        width: 95vw;
        text-align: center;
        padding: 4vw;
        font-size: 2.7vw;}
    .f1{
        padding-bottom: 3vw;
    }
    
    .social-icon{
      padding-left: 5vw;
      padding: 4vw;
    }
    .icon{
        padding-right: 2vw;
     }
}