*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(https://fonts.google.com/specimen/Bai+Jamjuree);
body{
    font-family:Bai Jamjuree;
    font-weight: 400, 600;
}
.box{
    width: 20vw;
    height: 30vw;
   margin: auto;
    background-color: white;
}
.img{
    background-image: url(images/bg-header-desktop.png);
    height: 5vw;
}
.copy{
    padding-top: 1.5vw;
    font-size: 3vw;
    text-align: center;
    color: hsl(171, 66%, 44%);
}
.inner-box{
    margin: auto;
    width: 12.7vw;
}
.text{
    text-align: center;
    font-size: 0.8vw;
    color:  hsl(210, 10%, 33%);
}
.s-text{
    font-size: 0.4vw;
    color:  hsl(201, 11%, 66%);
    text-align: center;
}
.btn-al{
    margin-left: 1.8vw;
}
.btn{
font-size: 0.5vw;
margin: auto;
padding: 0.4vw;
text-align: center;
height: 1.25vw;
border-radius: 0.7vw;
color: white;
}
.btn1{
    background-color: hsl(171, 66%, 44%);
}
.btn2{
    background-color: hsl(233, 100%, 69%)
    ;
}
.img1{
height: 7vw;
margin: -20%;
}